{% extends 'birdseed/base.html' %}


{% block content %}

<div class="container">
    <form method="POST", enctype= 'multipart/form-data'>
        {% csrf_token %}
        
        <fieldset class="form-group">
        
            <legend class="border-bottom mb-4" float="left"> edit </legend>
            {{ pform.as_p }}
        
            <div style="white-space: pre">
            </div>
        
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Update </button>
        </div>

    </form>
</div>



{% endblock content %}

<!-- https://docs.djangoproject.com/en/3.0/topics/http/file-uploads/ -->