* {
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    font-style: bold;
}


#app {
    width: 400px;
}

input{
    width: 400px;
    border: 0;
    color: #243849;
    font-size: 18px;
    padding: 5px 5px;
    text-align: right;
    transition-duration: 0.4s;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    transition-duration: 0.4s;

}

.cell {
    flex: 28%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 100%;
    transition-duration: 0.4s;
}

.num {
    background-color: #243849;
    color: #fff;
    font-weight: 400;
    transition-duration: 0.4s;
}

.cell:hover {
    background-color: #00529688;
    color: black;
    transition-duration: 0.4s;

}

.op {
    background-color: #00ff0d9f;
    color: #2499ff;
    transition-duration: 0.4s;
}
